<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html') %>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <div class="contenedor">
    <h2 id="titulo1"> <b>!BIENVENIDO CACHIMBO¡</b><img src="./logo/logopucp.png" id="image"><p id="imgbackground">#somospucp</p></h2>
    <h3 id="titulo2"> elige tu curso,y preparate</h3>
    <div id=cursosaelegir1>
    <div id=cursosaelegir >
    <div class="hex" style="background-image :none;" id="hex1" >		
        <p><a href="/aritmetica"  ></a>Arimética</a> <p>		
        <div class="corner-1"></div>
        <div class="corner-2"></div>		
    </div>	

    <div class="hex" style="background-image :none;" id="hex2">		
        <p><a href="/algebra"  ></a>Álgebra</a> <p>		
        <div class="corner-1"></div>
        <div class="corner-2"></div>		
    </div>	
    
    <div class="hex" style="background-image :none;" id="hex3">		
        <p><a href="/geometria"  ></a>Geometría</a> <p>		
        <div class="corner-1"></div>
        <div class="corner-2"></div>		
    </div>	
    
    <div class="hex" style="background-image :none;" id="hex4">		
        <p><a href="/matematica"  ></a>Matemática</a> <p>		
        <div class="corner-1"></div>
        <div class="corner-2"></div>			 
    

    </div>
</div>

    <style type="text/css">
  
    </style>
    
 <p><br><br><br><br>  -nuestros examenes simulados son gratis y lo seran siempre</p>   
</body>
</html>